extends layout

block content

  header
    h1 hughlee.net

    nav
      ul.menu-bar
        li
          a(href='/')
            span(data-hover='HOME') HOME
        li
          a(href='/timeline' target='content')
            span(data-hover='About') About
        li
          a(href='/board' target='content')
            span(data-hover='Article') Article
        li
          a(href='/gallery' target='content')
            span(data-hover='Gallery') Gallery
        li
          a(href='#')
            span(data-hover='Contact') Contact
    image(src='images/icon_menu.png' height='50px' width=height='50px').mbutton


  section
    iframe(name='content')



  //script.
    /*$('.handle').on('click',function() {
     $('nav ul li').toggleClass('showing');
     });

    $('.menu-bar').on('click', function () {
      $('.content').toggleClass('mopen');
    });*/





