extends layout

block content

  div.handle HLnet
  nav

    ul.showing
      div LOGO
      a(href='#')
        li Home
      a(href='#')
        li About
      a(href='#')
        li Blog
      a(href='#')
        li Gallery
      a(href='#')
        li Smart
      a(href='#')
        li Contact

  script.
    $('.handle').on('click', function () {
      $('nav ul li').toggleClass('showing');
    });
  section imrpsdkfjl






